<nav id="nav" class="navigation" role="navigation">
    <ul>
        <li{% if page.body_class == 'home' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/">Home</a>
        </li>
    </ul>
    <h2 class="gamma">Getting Started</h2>
    <ul>
        <li{% if page.body_class == 'tools' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/tools.html">Choosing a tool</a>
        </li>
        <li{% if page.body_class == 'connecting' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/connecting.html">Connecting</a>
        </li>
        <li{% if page.body_class == 'limits' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/limits.html">Limits</a>
        </li>
        <li{% if page.body_class == 'recipe' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/recipes.html">Recipes</a>
        </li>
    </ul>
    <h2 class="gamma">Application data</h2>
    <ul>
        <li{% if page.body_class == 'app-data' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/app-data.html">Overview</a>
        </li>
        <li{% if page.body_class == 'pushing' %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/topics/pushing.html">Pushing content</a>
        </li>
        <li{% if page.body_class == 'lists' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/lists.html">Lists</a>
        </li>
        <li{% if page.body_class == 'items' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/items.html">Items</a>
        </li>
        <li{% if page.body_class == 'users' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/users.html">Users</a>
        </li>
        <li{% if page.body_class == 'hierarchy' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/hierarchy.html">Hierarchy</a>
        </li>
        <li{% if page.body_class == 'hierarchy-descendants' %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/topics/hierarchy-descendants.html">Hierarchy descendants</a>
        </li>
        <li{% if page.body_class == 'hierarchy-parents' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/hierarchy-parents.html">Hierarchy parents</a>
        </li>
        <li{% if page.body_class == 'rollovers' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/rollovers.html">List rollovers</a>
        </li>
        <li{% if page.body_class == 'digitisations' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/digitisations.html">Digitisations</a>
        </li>
    </ul>
    <h2 class="gamma">Event data</h2>
    <ul>
        <li{% if page.body_class == 'event-data' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/event-data.html">Overview</a>
        </li>
        <li{% if page.body_class == 'event-classes' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/topics/event-classes.html">Event classes</a>
        </li>
        <li{% if page.body_class == 'raw' %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/topics/raw.html">Raw events</a>
        </li>
        <li{% if page.body_class == 'timeseries' %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/topics/timeseries.html">Timeseries</a>
        </li>
    </ul>
    <a id="close-btn" class="btn" href="#top"><span aria-hidden>✖</span><span class="sr-only">Close menu</span></a>
</nav>
