@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700);

:root {
  --brand-primary: #017d87;
  --brand-accent: #005d64;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--brand-accent);
  color: #ffffff;
}

body {
  max-width: 960px;
  padding: 1em;
  margin: 0 auto;

  font: 14px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #495057;
}

header {
  position: relative;
  z-index: 500;
}

.container {
  display: flex;

  flex-direction: column;
}

.content {
  max-width: 38rem;
  padding-top: 3em;
  padding-bottom: 3em;

  flex: 1;
}

.brand {
  height: 9em;

  background-image: url("../images/logo.svg");
  background-position: 0 45%;
  background-repeat: no-repeat;
  background-size: 127px 53px;
}

.site-title,
.btn {
  display: inline-block;
}

.btn {
  font-size: 1.8em;
}

#close-btn {
  display: none;
}

@media (max-width: 719px) {
  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    padding: 13em 1em 0;
    overflow: hidden;

    background-color: #fff;
  }

  .navigation:not(:target) {
    z-index: 1;

    height: 0;

    box-shadow: none;
  }

  #nav:target #close-btn {
    display: block;
  }

  #close-btn {
    position: absolute;
    top: 5.6em;
    z-index: 600;

    width: 1em;
    height: 1em;

    font-size: 1.8em;

    background-color: #fff;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1,
h2,
h3,
p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1,
.alpha {
  font-size: 1.8em;
  line-height: 0.952380952;
}

h2,
.beta {
  font-size: 1.5em;
  line-height: 1.1428571429;
}

h3,
.gamma {
  font-size: 1.3em;
  line-height: 1.3186813187;
}

h4,
.delta {
  margin-bottom: 0.7em;

  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4285714286;
  color: #000;
}

h5,
.epsilon {
  margin-bottom: 1.1em;

  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.9047619048;
}

h6,
.zeta {
  margin: 0;
}

p,
li,
pre {
  line-height: 1.714;
}

a {
  font-weight: 400;
  color: var(--brand-primary);
  text-decoration: none;
}

a:hover {
  color: #005d64;
  text-decoration: underline;
}

a small {
  display: block;
  margin-top: -0.6em;

  font-size: 11px;
  color: var(--brand-primary);
}

blockquote {
  padding: 0 0 0 20px;
  margin: 0;

  font-style: italic;

  border-left: 1px solid #e9ecef;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size: 12px;
  color: #000;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f8f9fa;
  border-radius: 3px;
}

pre code {
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  border-radius: 0;
}

pre {
  padding: 8px 10px;
  overflow-x: auto;

  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

table {
  width: 100%;

  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;

  text-align: left;

  border-bottom: 1px solid #e9ecef;
}

th {
  color: #343a40;
}

td.icon {
  width: 20%;
}

td.build-number {
  width: 30%;
}

dt {
  font-weight: 700;
  color: #343a40;
}

img {
  max-width: 100%;
}

nav ul {
  padding: 0;

  list-style: none;
}
nav ul li.active a {
  font-weight: 600;
  color: #495057;
}
nav ul > ul {
  margin-bottom: 0;
  margin-left: 1em;
}

footer nav ul li,
footer nav ul,
footer nav h4 {
  display: inline;
}
footer nav ul li:after {
  content: ", ";
}
footer nav ul li:last-child:after {
  content: "";
}
footer nav {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
  color: #212529;
}

small {
  font-size: 11px;
}

hr {
  height: 1px;
  margin: 0 0 20px;

  background: #e9ecef;
  border: 0;
}

.footnotes {
  padding-top: 4em;

  font-size: 0.8em;
}
.footnotes ol {
  padding-top: 2em;

  border-top: 1px solid #e9ecef;
}
.footnotes p {
  margin-bottom: 10px;
}

abbr {
  cursor: help;

  border-bottom: 1px dotted #e9ecef;
}

.clearfix:before,
.clearfix:after {
  display: table;

  content: " ";
}

.clearfix:after {
  clear: both;
}

.github-fork-ribbon {
  font-family: "Open Sans", sans-serif;

  background-color: #c5197d;
  background-image: none;

  box-shadow: none;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  text-shadow: none;

  border: none;
}

@media print, screen and (min-width: 720px) {
  body {
    width: 80%;

    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  .btn {
    display: none;
  }

  #top-bar > #menu-btn {
    display: none;
  }

  nav {
    flex: 0 0 25%;
    order: -1;
  }

  .container {
    flex-direction: row;
  }

  .content {
    padding: 0;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (min-width: 960px) {
  .content {
    padding: 0;
    margin: 0 0 20px;

    border-width: 1px 0;
  }

  header a small {
    display: inline;
  }
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .brand {
    background-size: 127px 53px;
  }
}

@media print {
  body {
    padding: 0.4in;

    font-size: 12pt;
    color: #343a40;
  }
}

.sr-only {
  position: absolute !important;
  clip-path: polygon(0);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width:  1px !important;
  overflow: hidden;
}

i.yes {
  color: #3F9E76;
}
i.no {
  color: #A02F2B;
}

.deprecated {
  background-color: red;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
